<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="pt-BR" > <![endif]-->
<html class="no-js" lang="pt-BR" >
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Agendar</title>
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/foundation.css">
		<link rel="stylesheet" href="../css/app.css">
		<link rel="stylesheet" href="../css/adm.css">
		<script src="../js/vendor/modernizr.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		
		<!-- Menu -->
		<div class="contain-to-grid sticky">
			<nav class="top-bar" data-topbar data-options="sticky: on_large" role="navigation">
				<ul class="title-area">
					<li class="name"><h1><a href="#">AFPESP</a></h1></li>
					<li class="toggle-topbar icon-menu"><a href=""><i class="fa fa-navicon"></i></a></li>
				</ul>
				<section class="top-bar-section">
					<ul class="left">
						<li><a href="../view/usuario.php">Minha Conta</a></li>
					</ul>
					<ul class="left">
						<li class="active"><a href="">Agendar</a></li>
					</ul>
					<ul class="left">
						<li><a href="">Meus Agendamentos</a></li>
					</ul>
					<ul class="left">
						<li><a href="">Fale Conosco</a></li>
					</ul>
					<ul class="left">
						<li><a href="">Ajuda</a></li>
					</ul>	
					<ul class="right">
						<li><a href="?logout=ok">Sair</a></li>
					</ul>
				</section>
			</nav>
		</div>
		<!-- Fim menu -->

		<!-- Topo do usuário -->
		<div class="row" style="margin-top: 3%;">
			<div class="small-12 small-centered medium-12 medium-centered large-12 large-centered columns">
				<div class="panel radius <?php echo $tempo; ?>">
					<p class="text-center hide-for-large hide-for-small hide-for-xlarge" id="msg" style="color: #333; font-size: 26px; padding: 40px;"><!--<?php echo $msg .'<br/><i class="fa fa-user"></i> '. $info->nome; ?>-->Bom dia, <br/> <i class="fa fa-user"></i> Carlos Eduardo.</p>
					<p class="text-center hide-for-medium hide-for-large" id="msg" style="color: #333; font-size: 26px; padding: 40px;"><!--<?php echo $msg .'<br/><i class="fa fa-user"></i> '. $info->nome; ?>-->Bom dia, <br/> <i class="fa fa-user"></i> Carlos Eduardo.</p>
					<p class="text hide-for-small hide-for-medium hide-for-xlarge" id="msg" style="color: #333; font-size: 26px; padding: 40px;"><!--<?php echo $msg .'<br/><i class="fa fa-user"></i> '. $info->nome; ?>-->Bom dia,<br/> <i class="fa fa-user"></i> Carlos Eduardo.</p>
				</div>
			</div>
		</div>
		<!-- Fim topo do usuário -->
		
		<div class="row">
			<div class="small-12 small-centered medium-12 medium-centered large-12 large-centered columns">
				<div class="panel radius">
					<h4><i class="fa fa-check-square-o"></i> Agendar</h4>
				</div>
			</div>
		</div>
		
		<!-- Painel de agendamento -->
		<div class="row">
			<div class="large-12 columns">
				<ul class="small-block-grid-1 medium-block-grid-3">
					<li><img class="th radius" src="../img/auth.jpg" alt=""/><br/><br/><button class="button expand small radius">Quiosque 1</button></li>
					<li><img class="th radius" src="../img/nature.jpg" alt="" /><br/><br/><button class="button expand small radius">Quiosque 2</button></li>
					<li><img class="th radius" src="../img/blue.jpg" alt="" /><br/><br/><button class="button expand alert small radius">Quiosque 3 - Breve</button></li>
					<li><img class="th radius" src="../img/tree.jpg" alt="" /><br/><br/><button class="button expand alert small radius">Quiosque 4 - Breve</button></li>
					<li><img class="th radius" src="../img/tree.jpg" alt="" /><br/><br/><button class="button expand alert small">Quiosque 5 - Breve</button></li>
					<li><img class="th radius" src="../img/tree.jpg" alt="" /><br/><br/><button class="button expand alert small">Quiosque 6 - Breve</button></li>
				</ul>
			</div>
		</div>
		
		<!-- Fim painel de agendamento -->
		
		<script src="../js/vendor/jquery.js"></script>
	
		<script src="../js/foundation.min.js"></script>
		<script> $(document).foundation(); </script>
		
	</body>
</html>